* {
    margin: 0;
    padding: 0;
  }
section, article, aside, footer, header, nav {
    display: block;
}
body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 2em;
    font-weight: normal;
    color: white;
}
h1 {
    font-size: 312.5%;
    line-height: 1em;
    font-weight: normal;
    margin-bottom: 1em;
}
h2 {
    font-weight: 300;
    font-size: 262.5%;
    margin-top: 1em;
    margin-bottom: 1em;
}
button {
    background-color: black;
    color: aquamarine;
    border: none;
    text-decoration: underline;
    font-size: 16px;
    margin-bottom: 1em;  
    padding: 0 10%;
}
video {
    display: block;
    justify-content: center;
    align-items: center;
    height: 110vh;
}
footer {
    font-size: 131.25%;
    margin: 1em auto;
    padding: 0 2em;
    text-align: right;
    color: gray;  
}
.hero {
    margin: 2em auto;
    padding: 0 2em;
}
.features {
    margin: 1em auto;
    padding: 0 2em;
}
.download {
    margin: 1em auto;
    padding: 0 2em;
}
p.description {
    font-size: 131.25%;
    color: gray;
    margin-bottom: 1em;  
}
/* NÃO TÁ FUNCIONANDO, NÃO ENTENDI PQ */
.icon {
    display: block;
    margin: 1em auto;
}